# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Java
.mtj.tmp/
*.class
*.war
*.ear


# Project files
*.classpath
*.project
/bin/
/Game.class
/GameFrame.class
/GamePanel$UpdateListener.class
/GamePanel.class
/KeyListener.class
/Launcher.class
/ListenerManager$FocusListener.class
/ListenerManager$KeyListener.class
/ListenerManager$MouseListener.class
/ListenerManager.class
/Macro.class
/Main.class
/MouseListener.class
/PlayGround$AddGameStateListener.class
/PlayGround$AddMainListener.class
/PlayGround.class
/Game.class
/GameFrame.class
/GamePanel$UpdateListener.class
/GamePanel.class
/KeyListener.class
/Launcher.class
/ListenerManager$FocusListener.class
/ListenerManager$KeyListener.class
/ListenerManager$MouseListener.class
/ListenerManager.class
/Macro.class
/Main.class
/MouseListener.class
/PlayGround$AddGameStateListener.class
/PlayGround$AddMainListener.class
/PlayGround.class
/World.class
/GameComponent.class
/DrawUpdatable.class
/DrawUpdatable.class
/Game.class
/GameComponent.class
/GameFrame.class
/GamePanel$UpdateListener.class
/GamePanel.class
/KeyListener.class
/Launcher.class
/ListenerManager$FocusListener.class
/ListenerManager$KeyListener.class
/ListenerManager$MouseListener.class
/ListenerManager.class
/Macro.class
/Main.class
/MouseListener.class
/PlayGround$AddGameStateListener.class
/PlayGround$AddMainListener.class
/PlayGround.class
